<div class="container border-top border-1 border-bottom py-5">
  <h1>Portfolio</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex facere eveniet veritatis dignissimos ad impedit
    reiciendis deleniti cupiditate quasi animi eum omnis doloribus, maxime laborum, alias numquam deserunt in illum.</p>
  <div class="row">
    <div class="col-lg-4">
      <img src="https://i.postimg.cc/FF87ZW3t/imgportfolio.png" alt="Random" width="380" height="180">

      <h3 class="text-primary">Project Name</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At eos, iste repellat suscipit, necessitatibus ad
        earum natus animi!</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="https://i.postimg.cc/FF87ZW3t/imgportfolio.png" alt="Random" width="380" height="180">

      <h3 class="text-primary">Project Name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus expedita beatae placeat neque? Accusamus maxime
        perspiciatis quasi amet fugiat.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="https://i.postimg.cc/FF87ZW3t/imgportfolio.png" alt="Random" width="380" height="180">

      <h3 class="text-primary">Project Name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus expedita beatae placeat neque? Accusamus maxime
        perspiciatis quasi amet fugiat. </p>
    </div><!-- /.col-lg-4 -->
  </div>  
</div>