<div class="container-sm" class="col-sm" class="d-flex">
   <div class="d-flex flex-row flex-sm-row">
        <div class="d-flex flex-sm-row">
            <div class="container">
                <img src="../assets/img/2.jpg"  class="rounded-circle" alt="">
            </div>
        </div>
        <div class="d-flex flex-sd-column">
            <h3> <b> Second Heading</b> is Will Catch Your Eye </h3>
            <h6>Donec ullamcoper nulla non metus autor fringilla.Vestibulum id igula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.</h6>
        </div>
   </div> 
 
</div>