<div class="container" class="flex-row" class="d-flex">
   <div class="d-flex flex-row">
        <div class="d-flex">
            <div class="container">
                <img src="/website/assets/img/2.jpg" class="rounded-circle" class="rounded-sm" class="img-fluid" style="border-top:0px;" alt="">
            </div>
             <!-- <img src="/website/2.jpg" class="img-fluid" alt=""> -->
        </div>
        <div class="d-flex flex-column " class="d-flex ">
            <h1 style="width: 880px;"> <b>The Second Heading</b> is Will Catch Your Eye</h1>
            <div style="justify-content: center;" style="color: gray; font-weight: lighter;font-size: 50px;">
                <p>Donec ullamcoper nulla non metus autor fringilla.Vestibulum id igula porta felis euismod semper. 
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, rsus commodo.
                    ..
                </p>
            </div>

        </div>
   </div> 
 </di