<div class="container py-5" class="flex-row" class="d-flex" py-5>
   <div class="d-flex flex-row">
        <div class="d-flex">
            <div class="container" style="padding: 0px;">
                <img src="/website/assets/img/2.jpg" class="rounded-circle" class="rounded-sm" class="img-fluid" style="border-top:0px; margin: 0px;" alt="">
            </div>
             <!-- <img src="/website/2.jpg" class="img-fluid" alt=""> -->
        </div>
        <div class="flex-colum" style="padding-right: 0px; margin: 0px;">
            <div  class="col-12" style="margin: 0PX;">
                <h1 > <b>The Second Heading</b> <span class="text-muted"> is Will Catch Your Eye</span> </h1>
                  <p>Donec ullamcoper nulla non metus autor fringilla.Vestibulum id igula porta felis euismod semper. 
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, rsus commodo.
                </p>
            </div>
        </div>    
   </div> 
 </di